{% extends "global/base.html" %}
{% block the_title %}Reset Password{% endblock %}
{% block content %}
    <div id="reset_password">
        <span>Reset password for {{reset_conf.user.username}}</span>
        <form id="reset_password_form" action="/mfserver2/reset_password/" method="post">
            <input type="hidden" value="{{reset_conf.confirmation_key}}" name="reset_conf">
            New password: <input type="password" name="password">
            Retype password: <input type="password" name="retype_password">
            <input type="submit">
        </form>
    </div>
{% endblock %}