{% extends "global/base.html" %}
{% block the_title %}Reset Password{% endblock %}
{% block content %}
    <div id="reset_password">
        <span>Reset password for {{reset_conf.user.username}}</span>
        <form id="reset_password_form" action="/mfserver2/reset_password/" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{reset_conf.confirmation_key}}" name="reset_conf">
            <span>
                New password: <input type="password" name="password">
            </span>
            <br>
            <span>
                Retype password: <input type="password" name="retype_password">
            </span>
            <br>
            {% for obj in errors_list %}
                <span style="color: red;">{{obj}}</span>
                <br>
            {% endfor %}
            <span>
                <input type="submit">
            </span>
        </form>
    </div>
{% endblock %}