/dist/
*.pyc
/db.sqlite3
/py_coverage/
/.coverage
/aabuddy_mfserver2_dump.txt
/aabuddy_mfserver2_dump.txt.lst
/aabuddy_mfserver2_data.dump
/aabuddy_mfserver2_schema.dump
/loader_error_detail.txt
/loader_error.txt
